@-webkit-keyframes animation-glitch-primary {
  0%, 100% { transform: translateX(0); }
  90% { transform: translateX(-2px); }
  97% { transform: translateX(1px); }
}

@keyframes animation-glitch-primary {
  0%, 100% { transform: translateX(0); }
  90% { transform: translateX(-2px); }
  97% { transform: translateX(1px); }
}

@-webkit-keyframes animation-glitch-secondary {
  0%, 95%, 100% { transform: translateX(0); }
  90% { transform: translateX(1px); }
}

@keyframes animation-glitch-secondary {
  0%, 95%, 100% { transform: translateX(0); }
  90% { transform: translateX(1px); }
}

.glitch-primary {
  -webkit-animation: animation-glitch-primary 5s ease-in-out infinite;
  animation: animation-glitch-primary 5s ease-in-out infinite;
}

.glitch-secondary {
  -webkit-animation: animation-glitch-secondary 5s ease-in-out infinite;
  animation: animation-glitch-secondary 5s ease-in-out infinite;
}
