@-webkit-keyframes animation-glitch-primary {
  0%, 80%, 100% { transform: translateX(0); }
  50% { transform: translateX(-2px); }
  60%, 68% { transform: translateX(1px); }
  69%, 73% { transform: translateX(-1px); }
  74%, 76% { transform: translateX(-2px); }
  77%, 79% { transform: translateX(-1px); }
}

@keyframes animation-glitch-primary {
  0%, 80%, 100% { transform: translateX(0); }
  50% { transform: translateX(-2px); }
  60%, 68% { transform: translateX(1px); }
  69%, 73% { transform: translateX(-1px); }
  74%, 76% { transform: translateX(-2px); }
  77%, 79% { transform: translateX(-1px); }
}

@-webkit-keyframes animation-glitch-secondary {
  0%, 80%, 100% { transform: translateX(0); }
  50% { transform: translateX(1px); }
  60%, 68% { transform: translateX(0px); }
  69%, 73% { transform: translateX(-0.5px); }
  74%, 76% { transform: translateX(-1px); }
  77%, 79% { transform: translateX(1px); }
}

@keyframes animation-glitch-secondary {
  0%, 80%, 100% { transform: translateX(0); }
  50% { transform: translateX(1px); }
  60%, 68% { transform: translateX(0px); }
  69%, 73% { transform: translateX(-0.5px); }
  74%, 76% { transform: translateX(-1px); }
  77%, 79% { transform: translateX(1px); }
}

.glitch-primary {
  -webkit-animation: animation-glitch-primary 5s ease-in-out infinite;
  animation: animation-glitch-primary 5s ease-in-out infinite;
  animation-delay: -4s;
}

.glitch-secondary {
  -webkit-animation: animation-glitch-secondary 5s ease-in-out infinite;
  animation: animation-glitch-secondary 5s ease-in-out infinite;
  animation-delay: -4s;
}
